<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Distributor - Ze login page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Welcome on this wonderful distributor!</p>
    
    <div th:if="${param.error}">
            Invalid Card number and/or password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
	</div>
    
	<form action="#" th:action="@{/}" th:object="${Client}" method="post">
	
   		<input type="text" th:field="*{numeroCarte}" /> <!--  numéro de carte -->
   		<input type="text" th:field="*{hash}" /> <!--  Pass hashé ? ou pass ? -->
   		
   		<input type="submit" value="Submit" /> 
   		<input type="reset" value="Reset" />
   		
	</form>
    
 
</body>
</html>