<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
	  	<meta http-equiv="Content-Type" content="text/html">
		<meta charset="UTF-8">
		<!-- Bootstrap stuff -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link th:href="@{../css/bootstrap.min.css}" rel="stylesheet" />
	
		<title>Distributor - Ze balance page</title>
	</head>
	<body>
		<p> You have <span th:text="${accountbalance}">[...]</span> on your account.</p>
	</body>
</html>