<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html"  />
		<meta charset="UTF-8" />
		<!-- Bootstrap stuff -->
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
		<link th:href="@{../css/bootstrap.min.css}" rel="stylesheet" />
	
	    <title>Distributor - Ze choices page</title>
	    
	</head>
	<body>
		
		<!-- mARCHE PAS JE SAIS PAS PK : <p th:text="${session.client.idAccount}" /> Faudrait afficher le compte -->
	    <h1>Your account number is  : <span th:text="${session.client.idAccount}"></span> </h1>	   
		
		<p><a th:href="@{/balance}">Check my balance</a></p>
		<p><a th:href="@{/retrait}">Withdraw money</a></p>
		<p><a th:href="@{/virement}">Transfer money</a></p>
		<p><a th:href="@{/depot}">Money Deposit</a></p>
		
		<form th:action="@{/logout}" method="post" class="form-group">
			<input type="submit" value="Sign Out"/>
	    </form>
	</body>
</html>