<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Distributor - Ze choices page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Your choices :</h1>
	
	<p><a th:href="@{/balance}">Check my balance</a></p>
	<p><a th:href="@{/retrait}">Withdraw money</a></p>
	<p><a th:href="@{/virement}">Transfer money</a></p>
	
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out"/>
    </form>
</body>
</html>