<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Distributor - Ze account creation page</title>
</head>
<body>
	<div>
		<p th:if="${error}" th:text="${error}" />
		<form th:action="@{/}" th:object="${client}" method="post">
			<p><label>IBAN:</label><input type="text" th:field="*{idAccount}" /></p>
			<p><label>Card number:</label><input type="text" th:field="*{numeroCarte}" /></p>
			<p><label>Amount:</label><input type="text" th:field="*{montant}" /></p>
			<p><label>Password:</label><input type="password" th:field="*{hash}" /></p>
			<p><input type="submit" value="Create Account" /></p>
		</form>
	</div>
</body>
</html>
