<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Distributor - Ze transfer page</title>
    </head>
    <body>
    	<h1>Money deposit</h1>
    	
     	<span th:if="${virement}">
     		Money deposited to <span th:text="${virement.getIbanTo()}">...</span> : <span th:text="${virement.getMontant()}">...</span>
     	</span>
     	
        <form th:action="@{/virement}" th:object="${virement}" method="post">
            <p><label>Enter the account to deposit money to :</label><input type="text" th:field="*{ibanTo}"/></p>
            <p><label>Amount to transfer :</label><input type="number" th:field="*{montant}"/></p>
            <p><input type="submit" value="Deposit money"/></p>
        </form>
    </body>
</html>