<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
    	<meta http-equiv="Content-Type" content="text/html">
		<meta charset="UTF-8">
		<!-- Bootstrap stuff -->
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link th:href="@{../css/bootstrap.min.css}" rel="stylesheet" />
		
        <title>Distributor - Ze transfer page</title>
    </head>
    <body>
    	<h1>Money deposit</h1>
    	
     	<span th:if="${virement}">
     		Money deposited to <span th:text="${virement.getIbanTo()}">...</span> : <span th:text="${virement.getMontant()}">...</span>
     	</span>
     	
        <form th:action="@{/virement}" th:object="${virement}" method="post">
            <p><label>Enter the account to deposit money to :</label><input type="text" th:field="*{ibanTo}"/></p>
            <p><label>Amount to transfer :</label><input type="number" th:field="*{montant}"/></p>
            <p><input type="submit" value="Deposit money"/></p>
        </form>
    </body>
</html>