<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta http-equiv="Content-Type" content="text/html" />
		<meta charset="UTF-8" />
		<!-- Bootstrap stuff -->
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
		<link th:href="@{../css/bootstrap.min.css}" rel="stylesheet" />
		<link th:href="@{../css/signin.css}" rel="stylesheet" />
		
		<title>Distributor - Ze login page</title>
	</head>
	<body>
		<div>
			<p th:if="${error}" th:text="${error}" />
			
			<form th:action="@{/}" th:object="${client}" method="post" class="form-signin">
				<h2 class="form-signin-heading">Please sign in</h2>
	
				<label for="usercard">User card number :</label>
				<input type="text" th:field="*{numeroCarte}" id="usercard" class="form-control"/>
	
				<label for="password">Password:</label>
				<input type="password" th:field="*{hash}" class="form-control" id="password"/>
	
				<button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
			</form>
		</div>
		<div>
			<p>
				<a th:href="@{/creation}">Create an account</a>
			</p>
		</div>
	</body>
</html>
