<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Distributor - Ze withdrawal page</title>
    </head>
    <body>
    	<h1>Money withdrawal :</h1>
     	<p> </p>
        <form th:action="@{/retrait}" method="post">
            <p><label>Enter the account to withdraw money from :</label><input type="text" name="accountfrom"/></p>
            <p><label>Enter the amount to withdraw</label><input type="number" name="amount"/></p>
            <p><input type="submit" value="Withdraw money"/></p>
        </form>
    </body>
</html>