<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace="fil.tiir.fakedistrib.dao.DistributeurDao">

	<resultMap type="fil.tiir.fakedistrib.entity.Distributeur" id="distributeurResultMap">
		<id property='idDistributeur' column='id_distributeur' />
		<result property='montant' column='montant' />
	</resultMap>

	<select id="getAll" resultMap="distributeurResultMap">
		select * from distributeur;
	</select>
<!---
	<update id="update" parameterType="Distributeur">
		update distributeur set
			id_distributeur = #{d.getIdDistributeur()},
			montant = #{d.getMontant()}
		where id_distributeur = #{d.getIdDistributeur()}
	</update>-->

</mapper>